@font-face {
    font-family: 'Samarkan';
    src: url('SamarkanNormal.woff2') format('woff2'),
        url('SamarkanNormal.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ailerons';
    src: url('Ailerons-Regular.woff2') format('woff2'),
        url('Ailerons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anurati';
    src: url('Anurati-Regular.woff2') format('woff2'),
        url('Anurati-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Redriver';
    src: url('Redriver.woff2') format('woff2'),
        url('Redriver.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





