$dark-green: #064f32;
$light-green: #06603b;

.createIndi {
    width: 100%;
    font-family: var(--secondary-font);

    .createIndi-wrap {
        width: 100%;

        .createIndi-heading {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                padding: 8px 0px;
                position: relative;

                &::before {
                    content: "";
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: $light-green;
                }

                &::after {
                    content: "";
                    width: 50%;
                    height: 4px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background: $dark-green;
                }
            }

            
        }



        .add-individual{
            width: 100%;
            margin-top: 50px;
           
            form{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap:25px;
                .row{
                    padding: 10px 20px;
                    box-sizing: border-box;
                    width: 100%;
                    // border: 1px solid;
                    select,input{
                        padding: 8px 16px;
                    }
                }
            }
        }
    }
}